################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/my-first-site.slnx/FileContentIndex/0a9d5584-9c0d-4e51-aec7-cce2bbd7ffe5.vsidx
/.vs/my-first-site.slnx/FileContentIndex/16cfd453-f791-403d-acbe-cd5542434d8a.vsidx
